@tailwind base;
@tailwind components;
@tailwind utilities;

ul.hero-list li::before {
    content: "\2022";
    color: #FAAD13;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}